extends layouts/_layout.jade

block title
	title Anasayfa

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Anasayfa
			p Start a beautiful journey here

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Anasayfa

	.row
		.col-md-12
			.tile
				.tile-body Anasayfa